html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    font-family: arial;  
	vertical-align: baseline;
}
.timer{
    width: 100%;
    height: 100vh;
    background-color:gray;
    display: flex;
    justify-content: center;
    
}

.container{
    padding-top: 100px;
    text-align: center;
}

.timer-container{
    background-color: #fff;
    /* width: 20vw; */
    padding: 1rem 6rem;
    border-radius: 1rem;
}
.stop,.reset,.start{
    margin-top: 20px;
    margin-bottom: 20px;
    color:white;
    font-size:18px;
    background-color: black;
    width: 130px;
    height:50px;
    border:none;
    border-radius: 15px;
    cursor: pointer;
}

.stop,.reset{
    margin-left: 15px;
}

.start:disabled{
    background-color: #cccccc;
    color:#666666;
    cursor: not-allowed;
}