@import '../../../styles/tokens.scss';

.timer{
    width: 100%;
    height: 100vh;
    background-color:gray;
    display: flex;
    justify-content: center;
    
}

.container{
    padding-top: 100px;
    text-align: center;
}

.timer-container{
    background-color: #fff;
    padding: 1rem 6rem;
    border-radius: 1rem;
}
