@import '../../../styles/tokens.scss';

button{
    color: black;
    background-color: burlywood;
    border-radius: 5px;
    padding: 7px;
    margin: 5px;
}
.Stop,.Reset,.Start{
    margin-top: 20px;
    margin-bottom: 20px;
    color:white;
    font-size:18px;
    background-color: black;
    width: 130px;
    height:50px;
    border:none;
    border-radius: 15px;
    cursor: pointer;
}

.Stop,.Reset{
    margin-left: 15px;
}

.Start:disabled{
    background-color: #cccccc;
    color:#666666;
    cursor: not-allowed;
}