import { render } from '@testing-library/react'
import '@testing-library/jest-dom'

import { {{ properCase name }} } from './index'

describe('<{{ properCase name }} />', () => {
  test('should render correctly', () => {
    const { getByText } = render(<{{ properCase name }}>Test</{{ properCase name }}>)
    expect(getByText(/Test/i)).toBeInTheDocument()
  })
})
